nav>ul>li>a{
	display:block;
	width:229px;
	height:496px;
	padding-bottom:10px;
	overflow:hidden;
	text-align:center;
	font:25px/75px "微軟正黑體", "Microsoft JhengHei", sans-serif;
	text-decoration:none;
	color:#fff;
        font-weight:bold;
	position:relative;
}

nav>ul>li ul>li>a{
	font:20px/40px "微軟正黑體", "Microsoft JhengHei", sans-serif;
	display:block;
	border-bottom:1px #8e4239 solid;
	background:#812d22;
	text-decoration:none;
	color:#fff;
}

h2{
        font-family: "微軟正黑體", "Microsoft JhengHei", sans-serif;
        font-size: 20px;
	color:#fff;
	margin-bottom:30px;
}

p{
        font-family: "微軟正黑體", "Microsoft JhengHei", serif;
        font-size: 15px;
        line-height:1.5em;
        color:#fff;
}
