{% extends "base.html" %}
{% block title %}Starter{% endblock %}
{% block head %}
   {{ super() }}
   <style>
      /* Sticky footer styles
         -------------------------------------------------- */

         html,
         body {
           height: 100%;
           padding-top: 30px;
           /* The html and body elements cannot have any padding or margin. */
         }

         /* Wrapper for page content to push down footer */
         #wrap {
           min-height: 100%;
           height: auto !important;
           height: 100%;
           /* Negative indent footer by it's height */
           margin: 0 auto -60px;
         }

        /* Footer
        -------------------------------------------------- */

        .footer {
          padding: 30px 0;
          border-top: 1px solid #e5e5e5;
          background-color: #f5f5f5;
        }
        .footer p {
          margin-bottom: 0;
          color: #777;
        }
        .footer-links {
          margin: 10px 0;
        }
        .footer-links li {
          display: inline;
          padding: 0 2px;
        }
        .footer-links li:first-child {
          padding-left: 0;
        }

         /* Lastly, apply responsive CSS fixes as necessary */
         @media (max-width: 767px) {
           .footer {
             margin-left: -20px;
             margin-right: -20px;
             padding-left: 20px;
             padding-right: 20px;
           }
         }

         /* Custom page CSS
         -------------------------------------------------- */
         /* Not required for template or sticky footer method. */

         .container {
           width: auto;
           max-width: 800px;
         }
         .container .credit {
           margin: 20px 0;
         }
         
         .text-justify {
           text-align: justify;
         }
   </style>
{% endblock %}
{% block content %}
<!-- Part 1: Wrap all page content here -->
<div id="wrap">
  <!-- Begin page content -->
  <div class="container">

    <div class="span8">
      <div class="card">
        <div class="card-body">
          <p class="">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
          <p>Use <a href="./sticky-footer-navbar.html">the sticky footer</a> with a fixed navbar if need be, too.</p>
        </div>
      </div>
    </div>

    <div class="span4">
      <div class="card"><a name="about"></a>
        <h3 class="card-heading simple">Examples</h3>
        <div class="card-body text-justify">
          <p>Matthew Haughey and Aaron Swartz[7] also played a significant role in the early stages of the project. In 2008, there were an estimated 130 million works licensed under the various Creative Commons licenses.[8] As of October 2011, Flickr alone hosts over 200 million Creative Commons licensed photos.[9] Creative Commons is governed by a board of directors and a technical advisory board. Their licenses have been embraced by many as a way for creators to take control of how they choose to share their copyrighted works.</p>
        </div>
        <div class="card-actions">
          <a class="btn btn-success" href="getting-started.html#examples">
            See the examples
            <i class="icon-circle-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="card"><a name="lesson"></a>
        <h3 class="card-heading simple">Thai lessons</h3>
        <div class="card-body">
          <p>Due to rapid economic development in recent years, Thailand has become an Asian economic power and a popular tourist destination. The four levels of Thai language courses offered by the School are taught by native Thai teachers fluent in Cantonese, allowing participants to learn the country’s language and culture in a relaxed and fun environment.</p>
        </div>
      </div>
      <div class="card"><a name="about"></a>
        <h3 class="card-heading simple">Rates</h3>
        <div class="card-body">
          <p>Only HKD $200 per hour (One Teacher to One Student)</p>
          <p>HKD $150 per hour per student (One Teacher to 2 Students)</p>
          <p>HKD $100 per hour per student (One Teacher to 3-6 Students)</p>
          <p>Please contact me at to get a precise price quote for other services!</p>
        </div>
      </div>
    </div>

    <div class="span4">
      <div class="card">
        <h3 class="card-heading simple">Services</h3>
        <div class="card-body">
          <p>Private One on One Thai lessons or Group lessons. Lessons conducted in Mandarin, Cantonese or English.</p>
          <p>Private One on One Home visit Thai lessons.</p>
          <p>Interpretation. Thai - Mandarin or Cantonese, Mandarin or Cantonese to Thai</p>
          <p>Assistance on any jobs need Thai.</p>
        </div>
        <div class="card-actions">
          <a class="btn btn-success" href="getting-started.html#examples">
            See the examples
            <i class="icon-circle-arrow-right"></i>
          </a>
        </div>
      </div>

      <div id="card-features" class="card">
        <div class="card-media-container" href="#">
          <i class="icon-html5"></i>
          <i class="icon-css3"></i>
          <i class="icon-wrench"></i>
        </div>
        <div class="card-body">
          <h2>Packed with features.</h2>
          <p>A 12-column responsive <a href="./scaffolding.html#gridSystem">grid</a>, dozens of components, <a href="./javascript.html">JavaScript plugins</a>, typography, form controls, and even a <a href="./customize.html">web-based Customizer</a> to make Bootplus your own.</p>
        </div>
      </div>

      <div class="card"></a>
        <div class="card-body">
          <h2>Built with Bootstrap.</h2>
          <p>Bootplus is built on top of <a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a> as a customization that reproduce the most recent Google+ style.</p>
          <p>Bootplus utilizes <a href="http://lesscss.org">LESS CSS</a>, is compiled via <a href="http://nodejs.org">Node</a>, and is managed through <a href="http://github.com">GitHub</a> to help nerds do awesome stuff on the web.</p>
        </div>
      </div>
  </div>
</div>
{% endblock %}
