{% extends "base.html" %}
{% block title %}Thai in Hong Kong{% endblock %}
{% block head %}
   {{ super() }}
   <style>
      /* Sticky footer styles
         -------------------------------------------------- */

         html,
         body {
           height: 100%;
           /* The html and body elements cannot have any padding or margin. */
         }

         /* Wrapper for page content to push down footer */
         .wrap {
           min-height: 100%;
           height: auto !important;
           height: 100%;
           /* Negative indent footer by it's height */
           margin: 0 auto -60px;
           padding-top: 20px;
         }

        /* Footer
        -------------------------------------------------- */

        .footer {
          padding: 30px 0;
          border-top: 1px solid #e5e5e5;
          background-color: #f5f5f5;
        }
        .footer p {
          margin-bottom: 0;
          color: #777;
        }
        .footer-links {
          margin: 10px 0;
        }
        .footer-links li {
          display: inline;
          padding: 0 2px;
        }
        .footer-links li:first-child {
          padding-left: 0;
        }

         /* Lastly, apply responsive CSS fixes as necessary */
         @media (max-width: 767px) {
           .footer {
             margin-left: -20px;
             margin-right: -20px;
             padding-left: 20px;
             padding-right: 20px;
           }
         }

         /* Custom page CSS
         -------------------------------------------------- */
         /* Not required for template or sticky footer method. */

         .container {
           width: auto;
           max-width: 800px;
         }
         
         .text-justify {
           text-align: justify;
         }
   </style>
{% endblock %}
{% block content %}
<div class="wrap">
  <!-- Begin page content -->
  <div class="container">

    <div class="span8"><a name="about"></a>
      <div class="card">
        <div class="card-top green">
          <!-- <img src="/images/profile.jpg" alt="profile"> -->
        </div>
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <!-- Nested media object -->
              <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" style="width: 140px; height: 180px;" src="./images/profile.jpg">
                </a>
                <div class="media-body">
                  {#<h4 class="media-heading">{{_("泰文班")}}</h4>#}
                  <p>{{_("由於近年來經濟的快速發展，泰國已成為一個東南亞經濟強國，一個熱門的旅遊目的地。來一起學習泰文，打破語言和文化上的隔閡吧。")}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-actions"></div>
      </div>
    </div>
    
    <div class="span8"><a name="services"></a>
      <div class="card">
        <h3 class="card-heading simple">{{_("泰文班")}}</h3>
        <div class="card-body">
          <p><b>{{_("個人課程")}}</b></p>
          <p>{{_("可根據原有的程度調節課程難度和進度，不用怕跟不上其他同學而失去信心. 可以自選上課時間及地點，方便安排課程時間。")}}</p>
          <p>{{_("學費：$ 180/ 小時。")}}</p>
          <p><b>{{_("小組課程(2-5人)")}}</b></p>
          <p>{{_("有朋友陪伴可以增添樂趣，多些互動，又可以有更多對話練習的機會。")}}</p>
          <p>{{_("學費：$ 120/ 小時。")}}</p>
          <p><b>{{_("旅行泰語課程")}}</b></p>
          <p>{{_("跳過讀寫，只學聽讀。專注於旅行日常用語，以備到泰國旅行可派上用場，在陌生的國度沒有後顧之憂。")}}</p>
          <p>{{_("學費：(個人) $ 180/ 小時, (小組) $ 120/ 小時。")}}</p>
        </div>
      </div>
    </div>

    <!-- card -->
    <div class="span8"><a name="services"></a>
      <div class="card">
        <h3 class="card-heading simple">{{_("其他")}}</h3>
        <div class="card-body">
          <p>{{_("泰中傳譯，泰文校對，泰中翻譯")}}</p>
          <p>{{_("可電郵聯絡，免費報價")}}</p>
        </div>
        <div class="card-actions">
          <a class="btn btn-success" href="#contact">
            {{_("聯絡我們")}}
            <i class="icon-circle-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
