{% extends "base.html" %}
{% block title %}Thai in Hong Kong{% endblock %}
{% block head %}
   {{ super() }}
   <style>
      /* Sticky footer styles
         -------------------------------------------------- */

         html,
         body {
           height: 100%;
           padding-top: 30px;
           /* The html and body elements cannot have any padding or margin. */
         }

         /* Wrapper for page content to push down footer */
         .wrap {
           min-height: 100%;
           height: auto !important;
           height: 100%;
           /* Negative indent footer by it's height */
           margin: 0 auto -60px;
         }

        /* Footer
        -------------------------------------------------- */

        .footer {
          padding: 30px 0;
          border-top: 1px solid #e5e5e5;
          background-color: #f5f5f5;
        }
        .footer p {
          margin-bottom: 0;
          color: #777;
        }
        .footer-links {
          margin: 10px 0;
        }
        .footer-links li {
          display: inline;
          padding: 0 2px;
        }
        .footer-links li:first-child {
          padding-left: 0;
        }

         /* Lastly, apply responsive CSS fixes as necessary */
         @media (max-width: 767px) {
           .footer {
             margin-left: -20px;
             margin-right: -20px;
             padding-left: 20px;
             padding-right: 20px;
           }
         }

         /* Custom page CSS
         -------------------------------------------------- */
         /* Not required for template or sticky footer method. */

         .container {
           width: auto;
           max-width: 800px;
         }
         
         .text-justify {
           text-align: justify;
         }
   </style>
{% endblock %}
{% block content %}
<!-- Part 1: Wrap all page content here -->
<!--
<div class="card hovercard">
  <div class="card-top green">
    <img src="./images/profile.jpg" alt="profile">
  </div>
  <div class="card-body">
    <p>{{_("I am a Thailand-born Chinese, native in Thai and Chinese. If you need any help in Thai, such as Thai course or Thai interpretation. Please contact me!")}}</p>
  </div>
  <div class="card-actions">
    <a class="btn btn-success" href="#contact">
      {{_("Contact")}}
      <i class="icon-circle-arrow-right"></i>
    </a>
  </div>
</div>
-->
<div class="wrap">
  <!-- Begin page content -->
  <div class="container">

    <div class="span8">
      <div class="card">
        <div class="card-body">
          <p>{{_("Due to rapid economic development in recent years, Thailand has become an Asian economic power and a popular tourist destination. The four levels of Thai language courses offered by the School are taught by native Thai teachers fluent in Cantonese, allowing participants to learn the country’s language and culture in a relaxed and fun environment.")}}</p>
        </div>
      </div>
    </div>

    <div class="span4"><a name="about"></a>
      <div class="card">
        <div class="card-top green">
          <!-- <img src="./images/profile.jpg" alt="profile"> -->
        </div>
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">Nested media heading</h4>
              {{_("I am a Thailand-born Chinese, native in Thai and Chinese. If you need any help in Thai, such as Thai course or Thai interpretation. Please contact me!")}}
              <!-- Nested media object -->
              <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" style="width: 100px; height: 128px;" src="./images/profile.jpg">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Nested media heading</h4>
                  {{_("I am a Thailand-born Chinese, native in Thai and Chinese. If you need any help in Thai, such as Thai course or Thai interpretation. Please contact me!")}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-actions">
          <a class="btn btn-success" href="#contact">
            {{_("Contact")}}
            <i class="icon-circle-arrow-right"></i>
          </a>
        </div>
      </div>
      <!-- card -->
      <div class="card">
        <h3 class="card-heading simple">{{_("Thai lessons")}}</h3>
        <div class="card-body text-justify">
          <p>Due to rapid economic development in recent years, Thailand has become an Asian economic power and a popular tourist destination. The four levels of Thai language courses offered by the School are taught by native Thai teachers fluent in Cantonese, allowing participants to learn the country’s language and culture in a relaxed and fun environment.</p>
        </div>
        <div class="card-comments">
          <div class="comments-collapse-toggle">
            <a data-toggle="collapse" data-target="#c1-comments">34 comments <i class="icon-angle-down"></i></a>
          </div>
          <div id="c1-comments" class="comments collapse">
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" data-src="holder.js/28x28" alt="avatar"/>
              </a>
              <div class="media-body">
                <h4 class="media-heading">Comment title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="span4"><a name="services"></a>
      <div class="card">
        <h3 class="card-heading simple">{{_("Services")}}</h3>
        <div class="card-body">
          <p>{{_("Private One on One Thai lessons or Group lessons. Lessons conducted in Mandarin, Cantonese or English.")}}</p>
          <p>{{_("Private One on One Home visit Thai lessons.")}}</p>
          <p>{{_("Travel Thai language lessons.")}}</p>
          <p>{{_("Interpretation. Thai - Mandarin or Cantonese, Mandarin or Cantonese to Thai")}}</p>
          <p>{{_("Assistance on any jobs need Thai.")}}</p>
        </div>
      </div>
      <!-- card -->
      <div class="card">
        <h3 class="card-heading simple">{{_("Rates")}}</h3>
        <div class="card-body">
          <p>{{_("Only HKD $180 per hour (One Teacher to One Student)")}}</p>
          <p>{{_("HKD $120 per hour per student (One Teacher to 2 Students)")}}</p>
          <p>{{_("HKD $100 per hour per student (One Teacher to 3-6 Students)")}}</p>
          <p>{{_("Please contact me at to get a precise price quote for other services!")}}</p>
        </div>
        <div class="card-actions">
          <a class="btn btn-success" href="#contact">
            {{_("Contact")}}
            <i class="icon-circle-arrow-right"></i>
          </a>
        </div>
      </div>
      <!-- card -->
      <div id="card-features" class="card">
        <div class="card-media-container" href="#">
          <i class="icon-html5"></i>
          <i class="icon-css3"></i>
          <i class="icon-wrench"></i>
        </div>
        <div class="card-body">
          <h2>Packed with features.</h2>
          <p>A 12-column responsive <a href="./scaffolding.html#gridSystem">grid</a>, dozens of components, <a href="./javascript.html">JavaScript plugins</a>, typography, form controls, and even a <a href="./customize.html">web-based Customizer</a> to make Bootplus your own.</p>
        </div>
      </div>
      <!-- card -->
      <div class="card"></a>
        <div class="card-body">
          <h2>Built with Bootstrap.</h2>
          <p>Bootplus is built on top of <a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a> as a customization that reproduce the most recent Google+ style.</p>
          <p>Bootplus utilizes <a href="http://lesscss.org">LESS CSS</a>, is compiled via <a href="http://nodejs.org">Node</a>, and is managed through <a href="http://github.com">GitHub</a> to help nerds do awesome stuff on the web.</p>
        </div>
      </div>
  </div>
</div>
{% endblock %}
