<!-- lesson 1 -->
<p><div class="alert">七個低輔音</div></p>
<table class="table">
  <tr>
    <td>ค</td>
    <td>kh</td>
    <td>ควาย</td>
    <td>水牛</td>
  </tr>
  <tr>
    <td>ช</td>
    <td>ch</td>
    <td>ช้าง</td>
    <td>大象</td>
  </tr>
  <tr>
    <td>ซ</td>
    <td>s</td>
    <td>โซ่</td>
    <td>鐵鏈</td>
  </tr>
  <tr>
    <td>ท</td>
    <td>t</td>
    <td>ทหาร</td>
    <td>軍人</td>
  </tr>
  <tr>
    <td>พ</td>
    <td>p</td>
    <td>พาน</td>
    <td>托盘</td>
  </tr>
  <tr>
    <td>ฟ</td>
    <td>f</td>
    <td>ฟัน</td>
    <td>牙齒</td>
  </tr>
  <tr>
    <td>ฮ</td>
    <td>h</td>
    <td>นกฮูก</td>
    <td>貓頭鷹</td>
  </tr>
</table>

<p><div class="alert">九個單長元音</div></p>
<table class="table">
  <tr>
    <td>-า</td>
    <td>ar</td>
    <td>สระอา</td>
  </tr>
  <tr>
    <td>-ี</td>
    <td>ee</td>
    <td>สระอี</td>
  </tr>
  <tr>
    <td>-ื</td>
    <td>eu</td>
    <td>สระอือ</td>
  </tr>
  <tr>
    <td>-ู</td>
    <td>oo</td>
    <td>สระอู</td>
  </tr>
  <tr>
    <td>เ-</td>
    <td>ea</td>
    <td>สระเอ</td>
  </tr>
  <tr>
    <td>แ-</td>
    <td>ae</td>
    <td>สระแอ</td>
  </tr>
  <tr>
    <td>โ-</td>
    <td>oh</td>
    <td>สระโอ</td>
  </tr>
  <tr>
    <td>-อ</td>
    <td>or</td>
    <td>สระออ</td>
  </tr>
  <tr>
    <td>เ-อ</td>
    <td>er</td>
    <td>สระเออ</td>
  </tr>
</table>

<!-- lesson 2 -->
<p><div class="alert">七個低輔音</div></p>
<table class="table">
  <tr>
    <td>ง</td>
    <td>ng</td>
    <td>งู</td>
    <td>蛇</td>
  </tr>
  <tr>
    <td>น</td>
    <td>n</td>
    <td>หนู</td>
    <td>老鼠</td>
  </tr>
  <tr>
    <td>ม</td>
    <td>m</td>
    <td>ม้า</td>
    <td>馬</td>
  </tr>
  <tr>
    <td>ย</td>
    <td>y</td>
    <td>ยักษ์</td>
    <td>夜叉</td>
  </tr>
  <tr>
    <td>ร</td>
    <td>r</td>
    <td>เรือ</td>
    <td>船</td>
  </tr>
  <tr>
    <td>ล</td>
    <td>l</td>
    <td>ลิง</td>
    <td>猴子</td>
  </tr>
  <tr>
    <td>ว</td>
    <td>w</td>
    <td>แหวน</td>
    <td>戒指</td>
  </tr>
</table>

<p><div class="alert">三個複合長元音</div></p>
<table class="table">
  <tr>
    <td>เ-ีย</td>
    <td>ia</td>
    <td>สระเอีย</td>
  </tr>
  <tr>
    <td>เ-ือ</td>
    <td>ua</td>
    <td>สระเอือ</td>
  </tr>
  <tr>
    <td>-ัว</td>
    <td>uw</td>
    <td>สระอัว</td>
  </tr>
</table>

<!-- lesson 3 -->
<p><div class="alert">十個低輔音</div></p>
<table class="table">
  <tr>
    <td>ฅ</td>
    <td>kh(ค)</td>
    <td>คน</td>
    <td>人</td>
  </tr>
  <tr>
    <td>ฆ</td>
    <td>kh(ค)</td>
    <td>ระฆัง</td>
    <td>大鐘</td>
  </tr>
  <tr>
    <td>ฌ</td>
    <td>ch(ช)</td>
    <td>เฌอ</td>
    <td>樹</td>
  </tr>
  <tr>
    <td>ญ</td>
    <td>y(ย)</td>
    <td>หญิง</td>
    <td>女人</td>
  </tr>
  <tr>
    <td>ฑ</td>
    <td>t(ท)</td>
    <td>มณโฑ</td>
    <td>曼陀</td>
  </tr>
  <tr>
    <td>ฒ</td>
    <td>t(ท)</td>
    <td>ผู้เฒ่า</td>
    <td>老人</td>
  </tr>
  <tr>
    <td>ธ</td>
    <td>t(ท)</td>
    <td>ธง</td>
    <td>旗子</td>
  </tr>
  <tr>
    <td>ณ</td>
    <td>n(น)</td>
    <td>เณร</td>
    <td>沙彌</td>
  </tr>
  <tr>
    <td>ภ</td>
    <td>p(พ)</td>
    <td>สำเภา</td>
    <td>中式帆船</td>
  </tr>
  <tr>
    <td>ฬ</td>
    <td>l(ล)</td>
    <td>จุฬา</td>
    <td>五角風箏</td>
  </tr>
</table>

<p><div class="alert">低輔音 + 長元音,只可以拼出3個聲調</div></p>
<table class="table">
  <tr>
    <td>คา</td>
    <td>ค่า</td>
    <td>ค้า</td>
  </tr>
</table>
