{% extends "base.html" %}
{% block title %}Thai in HK 泰文班 • 香港{% endblock %}

{% block content %}
<div class="wrap">
  <!-- Begin page content -->
  <div class="container">

    <div class="span8"><a name="about"></a>
      <div class="card">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <!-- Nested media object -->
              <div class="media">
                <img class="pull-left media-object" style="width: 140px; height: 180px;" src="/images/profile.jpg" alt="thai in hong kong 泰文班">
                <div class="media-body">
                  {#<h4 class="media-heading">{{_("泰語班")}}</h4>#}
                  <p>{{_("拜訪曼谷四面佛、到布吉滑浪、在蘇梅島的長灘上撐一把太陽傘，來一個椰青，遠離城市煩囂，是不少人下個假期的計劃吧？")}}</p>
                  <p>{{_("還是，你打算出走南泰小村，一探原始泰國風貌？")}}</p>
                  <p>{{_("無論如何，一口流利的泰文都是你旅遊旁身必然選擇！")}}</p>
                  <p>{{_("跟書本一字一句聽說讀寫？Out 了！學語文，當然要找地道 80 後，從聽講開始，短時間掌握真正溝通的技巧吧！")}}</p>
                  <p>{{_("想要暢遊泰國，快報名學泰文喇！")}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-actions"></div>
      </div>
    </div>
    
    <div class="span8"><a name="courses"></a>
      <div class="card">
        <h3 class="card-heading simple">{{_("課程筆記")}} <span class="badge">{{_("不斷更新中...")}}</span></h3>
        <div class="card-body">
          <div class="well">
            <h4>{{_("第")}} <span id="lesson_page">{{ lesson.page }}</span> {{_("課")}}</h4>
            <div id="lesson_content">{{ lesson.content }}</div>
          </div>
          <div id="example"></div>
        </div>
      </div>
    </div>
  </div>

  </script>      
{% endblock %}
